.tag-cloud-tags {
    background-color: #fff;
    opacity: 0.90;
    padding: 3rem 3.5rem;
    margin: 3rem 0;
  
    @include link(true, true);
  
    a {
      display: inline-block;
      position: relative;
      margin: .5rem 1rem;
      @include overflow-wrap(break-word);
      @include transition(all ease-out 0.3s);
  
      &:active,
      &:focus,
      &:hover {
        @include transform(scale(1.2));
      }
  
      sup {
        color: $global-font-secondary-color;
  
        [theme=dark] & {
          color: $global-font-secondary-color-dark;
        }
      }
    }
  }
  